# Web Scraper

# Datasets

For nfl combine results, we will be using data from nflcombineresults.
The link for 1987 is https://nflcombineresults.com/nflcombinedata.php?year=1987&pos=RB&college=. To get different years, simply change the year number in the link. For this project, we will be using data from 1987 - 2022.

Number of observations: depending on the year, each year have different amount of observations, but they range from about 150-300 each year for a total of 35 years.

To get the years of experience, we will be merging the nflcombineresults with the profootball refernece nfl draft data each year, which documents every player drafted in the nfl draft each year. There is a column that specify the year they started playing and their last year they played, subtracting them gives us their career length.

The link to the data is https://www.pro-football-reference.com/years/1987/draft.htm. To get different years, change the year number in the link.

Number of observations: depending on the year, each year have different amount of players drafted so different number of observations, but in general there should be about 240-270 players drafted each year for a total of 35 years.
Note: We will be merging this with the nflcombineresults data so not all players will be in the final data

Doing the above only gives us year of experience for drafted players. A lot of the combine attendees went undrafted. To get their years of experience, we will scrape the nfl.com website. The link is https://www.nfl.com/players/(example-name). To get the data for each individual player, change the example-name to their first and last name with a '-' connecting them.

Number of observations: Depending on how many players that went to the combine and went undrafted but still played in the NFL, will vary each year

# Setup

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

## Getting data for 1987 first so we can write a function that automates it for the rest of the years

Reading the nflcombineresults.com table using beautifulsoup

In [ ]:
url = "https://nflcombineresults.com/nflcombinedata.php?year=1987&pos=&college="
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

Getting row headers

In [ ]:
row_headers = []
for x in table.find_all('tr', class_ = 'headerfont'):
  for y in x.find_all('td'):
    row_headers.append(y.text)
row_headers

['Year',
 'Name',
 'College',
 'POS',
 'Height (in)',
 'Weight (lbs)',
 'Wonderlic',
 '40 Yard',
 'Bench Press',
 'Vert Leap (in)',
 'Broad Jump (in)',
 'Shuttle',
 '3Cone']

Geting the actual data

In [ ]:
content = []
for x in table.find_all('tr', class_ = 'tablefont'):
  player = []
  for y in x.find_all('td'):
    player.append(y.text)
  content.append(player)

Putting it into a dataframe

In [ ]:
df = pd.DataFrame(content, columns = row_headers)
df.drop(columns = 'Year', inplace = True)
df

,Name,College,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone
0,Mike Adams,Arizona State,CB,69.80,198,,4.42,13,32.0,118,4.60,
1,John Adickes,Baylor,C,74.80,266,,4.97,25,26.5,103,4.60,
2,Tommy Agee,Auburn,FB,71.80,217,,,15,,,,
3,David Alexander,Tulsa (OK),C,75.00,279,,5.13,22,27.5,105,4.33,
4,Lyneal Alston,Southern Mississippi,WR,72.10,202,,4.64,7,32.0,114,4.52,
...,...,...,...,...,...,...,...,...,...,...,...,...
262,Rod Woodson,Purdue,CB,72.00,202,,4.33,10,36.0,125,3.98,
263,John Wooldridge,Ohio State,RB,68.40,193,,,,,,,
264,Dave Wyman,Stanford,ILB,74.00,235,,4.79,23,29.0,118,4.30,
265,Theo Young,Arkansas,TE,74.00,231,,4.89,9,30.0,107,4.20,
266,Jeff Zimmerman,Florida,OG,75.40,341,,5.36,22,22.5,,4.83,

Reading Pro Football Reference's 1987 Draft using beautifulsoup (Alternatively can also download the data as a csv file and read it).

In [ ]:
url = "https://www.pro-football-reference.com/years/1987/draft.htm"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find('table')

In [ ]:
t = table.find('tbody')

In [ ]:
content = []
for x in t.find_all('tr'):
  player = []
  for y in x.find_all('td'):
    player.append(y.text)
  content.append(player)

Realized this afterwards, after 1994, NFL started tracking Solo tackles, so we created 2 row headers

In [ ]:
row = ['Pick', 'Team', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV', 'G', 'PCmp', 'PAtt', 'PYds', 'PTD', 'PInt', 'RAtt', 'RYds', 'RTd', 'ReRec', 'ReYds', 'ReTD','Solo', 'Int', 'Sk', 'College', 'stat']

In [ ]:
row2 = ['Pick', 'Team', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV', 'G', 'PCmp', 'PAtt', 'PYds', 'PTD', 'PInt', 'RAtt', 'RYds', 'RTd', 'ReRec', 'ReYds', 'ReTD','Int', 'Sk', 'College', 'stat']

In [ ]:
df2 = pd.DataFrame(content, columns = row2)

In [ ]:
df2

,Pick,Team,Player,Pos,Age,To,AP1,PB,St,wAV,...,RAtt,RYds,RTd,ReRec,ReYds,ReTD,Int,Sk,College,stat
0,1,TAM,Vinny Testaverde,QB,23,2007,0,2,15,97,...,430,1661,15,3,6,0,,,Miami (FL),College Stats
1,2,IND,Cornelius Bennett,LB,22,2000,1,5,14,91,...,0,0,0,0,0,0,7,71.5,Alabama,College Stats
2,3,HOU,Alonzo Highsmith,RB,22,1992,0,0,2,12,...,283,1195,7,42,428,3,,,Miami (FL),College Stats
3,4,GNB,Brent Fullwood,RB,23,1990,0,1,2,14,...,433,1702,18,44,370,1,,,Auburn,College Stats
4,5,CLE,Mike Junkin,LB,22,1989,0,0,0,3,...,0,0,0,0,0,0,,,Duke,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,331,WAS,Ray Hitchcock,C,22,1987,0,0,0,0,...,0,0,0,0,0,0,,,Minnesota,
342,332,RAM,Fred Stokes,DE,23,1996,0,0,4,33,...,0,0,0,0,0,0,1,38.0,Georgia Southern,
343,333,CHI,Eric Jeffries,DB,23,1987,0,0,0,0,...,0,0,0,0,0,0,,,Texas,College Stats
344,334,DEN,Tyrone Braxton,DB,22,1999,0,1,8,56,...,0,0,0,0,0,0,36,3.5,North Dakota St.,
345,335,GNB,Norman Jefferson,DB,23,1988,0,0,0,1,...,0,0,0,0,0,0,,,LSU,College Stats

Pro football refernece indicated those who made the hof by putting 'hof' next to the player name. Here we define a function to remove that

In [ ]:
def remove_hof(x):
    if type(x) == str:
     return x.replace(' HOF', '')

In [ ]:
df2['Player'] = df2['Player'].apply(remove_hof)

In [ ]:
df2

,Pick,Team,Player,Pos,Age,To,AP1,PB,St,wAV,...,RAtt,RYds,RTd,ReRec,ReYds,ReTD,Int,Sk,College,stat
0,1,TAM,Vinny Testaverde,QB,23,2007,0,2,15,97,...,430,1661,15,3,6,0,,,Miami (FL),College Stats
1,2,IND,Cornelius Bennett,LB,22,2000,1,5,14,91,...,0,0,0,0,0,0,7,71.5,Alabama,College Stats
2,3,HOU,Alonzo Highsmith,RB,22,1992,0,0,2,12,...,283,1195,7,42,428,3,,,Miami (FL),College Stats
3,4,GNB,Brent Fullwood,RB,23,1990,0,1,2,14,...,433,1702,18,44,370,1,,,Auburn,College Stats
4,5,CLE,Mike Junkin,LB,22,1989,0,0,0,3,...,0,0,0,0,0,0,,,Duke,College Stats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,331,WAS,Ray Hitchcock,C,22,1987,0,0,0,0,...,0,0,0,0,0,0,,,Minnesota,
342,332,RAM,Fred Stokes,DE,23,1996,0,0,4,33,...,0,0,0,0,0,0,1,38.0,Georgia Southern,
343,333,CHI,Eric Jeffries,DB,23,1987,0,0,0,0,...,0,0,0,0,0,0,,,Texas,College Stats
344,334,DEN,Tyrone Braxton,DB,22,1999,0,1,8,56,...,0,0,0,0,0,0,36,3.5,North Dakota St.,
345,335,GNB,Norman Jefferson,DB,23,1988,0,0,0,1,...,0,0,0,0,0,0,,,LSU,College Stats

Merging the 2 dataframe together, so that all of the drafted player's data would be merged together

In [ ]:
df3 = df2.merge(df, left_on = 'Player', right_on = 'Name')

In [ ]:
df3

,Pick,Team,Player,Pos,Age,To,AP1,PB,St,wAV,...,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone
0,1,TAM,Vinny Testaverde,QB,23,2007,0,2,15,97,...,QB,76.30,213,,4.75,13,,,,
1,3,HOU,Alonzo Highsmith,RB,22,1992,0,0,2,12,...,FB,72.90,236,,,27,34.0,118,,
2,6,STL,Kelly Stouffer,QB,23,1992,0,0,0,2,...,QB,75.00,212,,4.95,,28.0,108,4.51,
3,7,DET,Reggie Rogers,DE,23,1992,0,0,0,1,...,DE,78.30,268,,4.76,,29.0,103,4.91,
4,9,PHI,Jerome Brown,DT,22,1991,2,2,5,51,...,DT,74.30,292,,4.86,17,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,319,NOR,Tyrone Sorrells,G,,,0,0,0,,...,OG,75.80,265,,4.82,18,30.5,114,5.05,
199,324,SEA,Tony Burse,RB,22,1987,0,0,0,0,...,RB,72.00,220,,4.71,20,27.5,104,4.88,
200,325,KAN,Bruce Holmes,LB,21,1993,0,0,0,1,...,OLB,73.90,229,,4.92,15,28.0,105,4.50,
201,327,NYJ,Bill Ransdell,QB,,,0,0,0,,...,QB,73.50,204,,4.96,10,24.0,99,4.22,
202,328,CIN,John Holifield,RB,23,1989,0,0,0,0,...,RB,71.10,208,,4.55,14,30.5,115,4.15,

Getting the years of experience.

In [ ]:
def get_exp(x):
  try:
    return int(x)-1987 + 1
  except: #Some players get drafted but do not play a single game, so the To field is empty
    pass

In [ ]:
df.columns

Index(['Name', 'College', 'POS', 'Height (in)', 'Weight (lbs)', 'Wonderlic',
       '40 Yard', 'Bench Press', 'Vert Leap (in)', 'Broad Jump (in)',
       'Shuttle', '3Cone'],
      dtype='object')

In [ ]:
df3.columns

Index(['Pick', 'Team', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV',
       'DrAV', 'G', 'PCmp', 'PAtt', 'PYds', 'PTD', 'PInt', 'RAtt', 'RYds',
       'RTd', 'ReRec', 'ReYds', 'ReTD', 'Int', 'Sk', 'College_x', 'stat',
       'Name', 'College_y', 'POS', 'Height (in)', 'Weight (lbs)', 'Wonderlic',
       '40 Yard', 'Bench Press', 'Vert Leap (in)', 'Broad Jump (in)',
       'Shuttle', '3Cone'],
      dtype='object')

Keeping the columns we need

In [ ]:
df3 = df3[['Player', 'College_x', 'POS', 'Height (in)', 'Weight (lbs)', 'Wonderlic', '40 Yard', 'Bench Press', 'Vert Leap (in)' ,'Broad Jump (in)', 'Shuttle', '3Cone', 'To', 'Age','Pick','Team']] #Keeping the columns that we need
df3['To'] = df3['To'].apply(get_exp)
df3

<ipython-input-23-8417cf7bafa8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['To'] = df3['To'].apply(get_exp)

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,,4.75,13,,,,,21.0,23,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,,,27,34.0,118,,,6.0,22,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,,4.95,,28.0,108,4.51,,6.0,23,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,,4.76,,29.0,103,4.91,,6.0,23,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,,4.86,17,,,,,5.0,22,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,Tyrone Sorrells,Georgia Tech,OG,75.80,265,,4.82,18,30.5,114,5.05,,NaN,,319,NOR
199,Tony Burse,Middle Tenn. St.,RB,72.00,220,,4.71,20,27.5,104,4.88,,1.0,22,324,SEA
200,Bruce Holmes,Minnesota,OLB,73.90,229,,4.92,15,28.0,105,4.50,,7.0,21,325,KAN
201,Bill Ransdell,Kentucky,QB,73.50,204,,4.96,10,24.0,99,4.22,,NaN,,327,NYJ
202,John Holifield,West Virginia,RB,71.10,208,,4.55,14,30.5,115,4.15,,3.0,23,328,CIN

## Now we need to get the years of experience for undrafted players

Testing appending a row of the undrafted players to the dataframe

In [ ]:
row_index = df.index[df['Name'] == 'Jeff Zimmerman'].tolist()[0]
row = df.iloc[row_index]
x = list(row)
x.append(0) #set years of experience to 0
x.append(np.nan) #set age of combine to nan becuase data not available
x.append(0) #set pick number to 0
x.append('Undrafted') #set team to undrafted
y = dict(zip(df3.columns, x))
y

{'Player': 'Jeff Zimmerman',
 'College_x': 'Florida',
 'POS': 'OG',
 'Height (in)': '75.40',
 'Weight (lbs)': '341',
 'Wonderlic': '',
 '40 Yard': '5.36',
 'Bench Press': '22',
 'Vert Leap (in)': '22.5',
 'Broad Jump (in)': '',
 'Shuttle': '4.83',
 '3Cone': '',
 'To': 0,
 'Age': nan,
 'Pick': 0,
 'Team': 'Undrafted'}

In [ ]:
df3.append(y, ignore_index=True)

<ipython-input-25-640639438782>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3.append(y, ignore_index=True)

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,,4.75,13,,,,,21.0,23,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,,,27,34.0,118,,,6.0,22,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,,4.95,,28.0,108,4.51,,6.0,23,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,,4.76,,29.0,103,4.91,,6.0,23,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,,4.86,17,,,,,5.0,22,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Tony Burse,Middle Tenn. St.,RB,72.00,220,,4.71,20,27.5,104,4.88,,1.0,22,324,SEA
200,Bruce Holmes,Minnesota,OLB,73.90,229,,4.92,15,28.0,105,4.50,,7.0,21,325,KAN
201,Bill Ransdell,Kentucky,QB,73.50,204,,4.96,10,24.0,99,4.22,,NaN,,327,NYJ
202,John Holifield,West Virginia,RB,71.10,208,,4.55,14,30.5,115,4.15,,3.0,23,328,CIN
203,Jeff Zimmerman,Florida,OG,75.40,341,,5.36,22,22.5,,4.83,,0.0,NaN,0,Undrafted

Now we do it for all of the undrafted players, those that have combine data but not drafted, will scrape the years of experience from nfl.com/players/stats/(name)

In [ ]:
year = 1987
for i in df['Name']:
  if i not in list(df3['Player']):
    name = i
    c = -1
    if 'Jr.' in name: #Came to realize that those with jr. and '.' in their name have different formatting
      name2 = name.replace('.', '')
      splited = name2.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    elif '.' in name:
      name2 = name.replace('.', '-', name.count('.') - 1)
      name2 = name2.replace('.', '')
      splited = name2.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    else:
      splited = name.split(' ')
      player = '-'.join(splited)
      player = player.replace('\'', '-')
    url = "https://www.nfl.com/players/{}/".format(player)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    lists = soup.find_all('ul', class_ = 'd3-o-list nfl-c-player-info__career-data')
    for l in lists:
      c = l.find('div', class_ = 'nfl-c-player-info__value').text
    if c == -1 or int(c) > 2023 - year:
      pass
    else:
      row_index = df.index[df['Name'] == name].tolist()[0]
      row = df.iloc[row_index]
      x = list(row)
      x.append(c) #set years of experience to what we scraped
      x.append(np.nan) #set age of combine to nan becuase data not available
      x.append(0) #set pick number to 0
      x.append('Undrafted') #set team to undrafted
      y = dict(zip(df3.columns, x))
      df3 = df3.append(y, ignore_index=True)

## Putting all of the above into a function to get the data from 1987-2022

In [ ]:
def get_data(year):
  url = "https://nflcombineresults.com/nflcombinedata.php?year={}&pos=&college=".format(year)
  response = requests.get(url)
  soup = BeautifulSoup(response.content, 'html.parser')
  table = soup.find('table')
  row_headers = []
  for x in table.find_all('tr', class_ = 'headerfont'):
    for y in x.find_all('td'):
      row_headers.append(y.text)
  row_headers
  content = []
  for x in table.find_all('tr', class_ = 'tablefont'):
    player = []
    for y in x.find_all('td'):
      player.append(y.text)
    content.append(player)
  df = pd.DataFrame(content, columns = row_headers)
  df.drop(columns = 'Year', inplace = True)
  
  def get_exp(x):
    try:
      return int(x)- year + 1 # modified to get the experience accoridng to year... missed this on the first run... ran 3 hours to realize the years of experience were all off...
    except: #Some players get drafted but do not play a single game, so the To field is empty
      pass
  url = "https://www.pro-football-reference.com/years/{}/draft.htm".format(year)
  response = requests.get(url)
  soup = BeautifulSoup(response.content, 'html.parser')
  table = soup.find('table')
  t = table.find('tbody')
  content = []
  for x in t.find_all('tr'):
    player = []
    for y in x.find_all('td'):
      player.append(y.text)
    content.append(player)
  row = ['Pick', 'Team', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV', 'G', 'PCmp', 'PAtt', 'PYds', 'PTD', 'PInt', 'RAtt', 'RYds', 'RTd', 'ReRec', 'ReYds', 'ReTD','Solo', 'Int', 'Sk', 'College', 'stat']
  row2 = ['Pick', 'Team', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St', 'wAV', 'DrAV', 'G', 'PCmp', 'PAtt', 'PYds', 'PTD', 'PInt', 'RAtt', 'RYds', 'RTd', 'ReRec', 'ReYds', 'ReTD','Int', 'Sk', 'College', 'stat']
  try:  #try except block for which row header is to be used
    df2 = pd.DataFrame(content, columns = row)
  except:
    df2 = pd.DataFrame(content, columns = row2)
  df2['Player'] = df2['Player'].apply(remove_hof)
  df3 = df2.merge(df, left_on = 'Player', right_on = 'Name')
  df3['To'] = df3['To'].apply(get_exp)
  df3 = df3[['Player', 'College_x', 'POS', 'Height (in)', 'Weight (lbs)', 'Wonderlic', '40 Yard', 'Bench Press', 'Vert Leap (in)' ,'Broad Jump (in)', 'Shuttle', '3Cone', 'To', 'Age','Pick','Team']] #Keeping the columns that we need
  for i in df['Name']:
    if i not in list(df3['Player']):
      name = i
      c = -1
      if 'Jr.' in name:
        name2 = name.replace('.', '')
        splited = name2.split(' ')
        player = '-'.join(splited)
        player = player.replace('\'', '-')
      elif '.' in name:
        name2 = name.replace('.', '-', name.count('.') - 1)
        name2 = name2.replace('.', '')
        splited = name2.split(' ')
        player = '-'.join(splited)
        player = player.replace('\'', '-')
      else:
        splited = name.split(' ')
        player = '-'.join(splited)
        player = player.replace('\'', '-')
      url = "https://www.nfl.com/players/{}/".format(player)
      page = requests.get(url)
      soup = BeautifulSoup(page.content, 'html.parser')
      lists = soup.find_all('ul', class_ = 'd3-o-list nfl-c-player-info__career-data')
      for l in lists:
        c = l.find('div', class_ = 'nfl-c-player-info__value').text
      if c == -1 or int(c) > 2023 - year:
        pass
      else:
        row_index = df.index[df['Name'] == name].tolist()[0]
        row = df.iloc[row_index]
        x = list(row)
        x.append(c) #set years of experience to what we scraped
        x.append(np.nan) #set age of combine to nan becuase data not available
        x.append(0) #set pick number to 0
        x.append('Undrafted') #set team to undrafted
        y = dict(zip(df3.columns, x))
        df3 = df3.append(y, ignore_index=True)
  return df3

In [ ]:
df1987 = get_data(1987)

In [ ]:
df1987

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,,4.75,13,,,,,21.0,23,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,,,27,34.0,118,,,6.0,22,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,,4.95,,28.0,108,4.51,,6.0,23,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,,4.76,,29.0,103,4.91,,6.0,23,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,,4.86,17,,,,,5.0,22,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Jeff Van Raaphorst,Arizona State,QB,73.00,206,,4.83,8,24.0,106,4.41,,0,NaN,0,Undrafted
234,Tom Welter,Nebraska,OT,76.40,274,,5.23,13,27.0,87,5.04,,0,NaN,0,Undrafted
235,Gerald White,Michigan,FB,71.40,220,,,,28.0,104,4.49,,0,NaN,0,Undrafted
236,Perry Williams,Clemson,CB,73.00,203,,4.67,8,29.0,103,4.21,,0,NaN,0,Undrafted
237,Carl Woods,Vanderbilt,RB,71.00,198,,4.60,11,27.5,106,4.19,,0,NaN,0,Undrafted

In [ ]:
df1988 = get_data(1988)

In [ ]:
df1988

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Neil Smith,Nebraska,DE,76.30,257,,4.65,,32.5,124,4.57,,13.0,22,2,KAN
1,Bennie Blades,Miami (FL),SS,72.60,216,,4.53,15,33.0,121,4.18,,10.0,22,3,DET
2,Paul Gruber,Wisconsin,OT,76.60,290,,,23,,,,,12.0,23,4,TAM
3,Rickey Dixon,Oklahoma,FS,70.80,177,,4.47,6,31.0,106,4.32,,6.0,21,5,CIN
4,Tim Brown,Notre Dame,WR,72.00,193,,4.39,,,,,,17.0,22,6,RAI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,Rod Smith,Nebraska,WR,71.80,197,,,9,,,,,6,NaN,0,Undrafted
226,Rick Strom,Georgia Tech,QB,74.30,203,,4.72,9,31.0,108,4.39,,7,NaN,0,Undrafted
227,John Talley,West Virginia,WR,77.00,225,,4.83,6,31.0,115,4.37,,2,NaN,0,Undrafted
228,Jim Thornton,Cal-State Fullerton,TE,74.00,246,,4.70,29,36.0,123,4.31,,8,NaN,0,Undrafted
229,John Williams,Kansas State,WR,72.40,190,,4.53,6,25.5,106,4.64,,1,NaN,0,Undrafted

In [ ]:
df1989 = get_data(1989)

In [ ]:
df1989

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Derrick Thomas,Alabama,OLB,74.50,234,,4.58,,,,,,11.0,22,4,KAN
1,Deion Sanders,Florida St.,CB,71.80,182,,4.29,,,,,,17.0,22,5,ATL
2,Broderick Thomas,Nebraska,OLB,74.30,253,,4.61,,,,,,9.0,22,6,TAM
3,Burt Grossman,Pittsburgh,DE,76.30,266,,4.75,21,29.0,117,4.37,,6.0,22,8,SDG
4,Eric Hill,LSU,OLB,73.40,249,,4.79,20,35.0,123,4.35,,11.0,22,10,PHO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Tom Waddle,Boston College,WR,71.90,173,,4.81,,31.0,115,4.19,,5,NaN,0,Undrafted
228,Wayne Walker,Texas Tech,WR,68.50,156,,,,,,,,0,NaN,0,Undrafted
229,Greg Werner,DePauw (IN),TE,75.60,236,,4.93,16,33.0,103,4.48,,0,NaN,0,Undrafted
230,Eric Wilkerson,Kent State (OH),WR,68.80,181,,4.63,9,37.5,124,4.28,,2,NaN,0,Undrafted
231,Steve Williams,Boston College,CB,72.80,183,,,9,,,,,4,NaN,0,Undrafted

In [ ]:
df1990 = get_data(1990)

In [ ]:
df1990

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Cortez Kennedy,Miami (FL),DT,73.50,295,,4.95,23,,,,,11.0,22,3,SEA
1,Richmond Webb,Texas A&M,OT,78.10,291,,5.12,15,29.5,103,4.70,,13.0,23,9,MIA
2,Ray Agnew,North Carolina St.,DT,75.00,281,,,21,,,,,11.0,22,10,NWE
3,James Francis,Baylor,OLB,76.40,243,,4.79,12,34.0,115,4.23,,10.0,22,12,CIN
4,Renaldo Turnbull,West Virginia,DE,76.00,248,,4.64,15,34.5,121,4.46,,8.0,24,14,NOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,Chad Thorson,Wheaton (IL),OLB,73.60,240,,5.01,17,29.5,107,4.25,,1,NaN,0,Undrafted
232,Matt Vanderbeek,Michigan State,OLB,75.30,246,,5.07,20,29.5,111,4.33,,7,NaN,0,Undrafted
233,David Whitmore,Stephen F. Austin (TX),SS,72.00,235,,4.65,16,32.0,112,4.65,,6,NaN,0,Undrafted
234,Steve Williams,Illinois,WR,69.00,168,,4.88,,29.5,112,4.25,,4,NaN,0,Undrafted
235,Demond Winston,Vanderbilt,OLB,74.10,239,,4.84,10,34.0,117,4.27,,5,NaN,0,Undrafted

In [ ]:
df1991 = get_data(1991)

In [ ]:
df1991

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Russell Maryland,Miami (FL),DT,72.90,274,,4.96,26,,,,,10.0,22,1,DAL
1,Eric Turner,UCLA,FS,72.90,206,,4.51,20,36.5,124,4.37,,9.0,22,2,CLE
2,Bruce Pickens,Nebraska,CB,69.80,193,,4.48,,34.5,127,4.12,,5.0,23,3,ATL
3,Mike Croel,Nebraska,OLB,74.50,231,,4.60,,36.5,121,4.22,,8.0,22,4,DEN
4,Todd Lyght,Notre Dame,CB,72.00,186,,4.54,15,35.5,123,,,12.0,22,5,RAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Gerald Williams,South Carolina,RB,71.50,219,,4.74,,29.5,110,,,12,NaN,0,Undrafted
296,Eric Wright,Stephen F. Austin (TX),WR,71.80,197,,4.71,,28.0,105,4.39,,7,NaN,0,Undrafted
297,Willie Wright,Wyoming,OLB,75.30,243,,4.81,16,33.5,115,4.47,,1,NaN,0,Undrafted
298,Charlie Young,Stanford,RB,72.40,197,,4.58,20,32.5,114,4.30,,1,NaN,0,Undrafted
299,Lance Zeno,UCLA,C,75.80,272,,,30,,,,,2,NaN,0,Undrafted

In [ ]:
df1992 = get_data(1992)

In [ ]:
df1992

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Quentin Coryatt,Texas A&M,ILB,75.10,237,,4.70,24,,,,,8.0,22,2,IND
1,Sean Gilbert,Pittsburgh,DT,76.30,315,,,22,,,,,12.0,22,3,RAM
2,Desmond Howard,Michigan,WR,69.90,184,,,,,,,,11.0,22,4,WAS
3,Terrell Buckley,Florida St.,CB,69.10,174,,,,,,,,14.0,21,5,GNB
4,David Klingler,Houston,QB,74.50,205,,4.82,,32.5,111,4.01,,6.0,23,6,CIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Brian Treggs,California,WR,68.90,161,,4.56,,32.0,107,4.07,,0,NaN,0,Undrafted
303,Peter Tuipulotu,Brigham Young,RB,71.10,215,,,,,,,,0,NaN,0,Undrafted
304,Fred Washington,Mississippi Valley State,TE,75.30,243,,5.03,,,,,,0,NaN,0,Undrafted
305,David Wilkins,Eastern Kentucky,DE,76.30,238,,5.05,17,30.5,113,4.57,,2,NaN,0,Undrafted
306,Bernard Wilson,Tennessee State,DT,74.40,295,,5.56,26,26.0,101,4.95,,6,NaN,0,Undrafted

In [ ]:
df1993 = get_data(1993)

In [ ]:
df1993

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Drew Bledsoe,Washington St.,QB,77.00,233,,,,32.5,111,4.54,,14.0,21,1,NWE
1,Rick Mirer,Notre Dame,QB,74.00,216,,,,,,,,11.0,23,2,SEA
2,Garrison Hearst,Georgia,RB,69.00,204,,,,,,,,12.0,22,3,PHO
3,Marvin Jones,Florida St.,ILB,73.10,237,,,,,,,,11.0,21,4,NYJ
4,John Copeland,Alabama,DE,75.00,286,,,,,,,,8.0,22,5,CIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Marty Thompson,Frenso State (CA),TE,75.80,243,,5.06,8,29.0,112,,,0,NaN,0,Undrafted
244,Kipp Vickers,Miami (FL),OG,73.90,286,,5.21,,24.0,101,4.79,,8,NaN,0,Undrafted
245,David White,Nebraska,OLB,73.40,229,,5.02,,32.0,109,4.27,,3,NaN,0,Undrafted
246,Shawn Williams,Rutgers,DE,73.40,229,,,,,,,,9,NaN,0,Undrafted
247,Glen Young,Syracuse,ILB,75.30,238,,4.90,21,34.0,121,4.14,,2,NaN,0,Undrafted

In [ ]:
df1994 = get_data(1994)

In [ ]:
df1994

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Dan Wilkinson,Ohio St.,DT,75.60,327,,,32,,,,,13.0,21,1,CIN
1,Marshall Faulk,San Diego St.,RB,70.10,206,,,,,,,,12.0,21,2,IND
2,Heath Shuler,Tennessee,QB,74.00,221,,,,,,,,4.0,22,3,WAS
3,Trev Alberts,Nebraska,OLB,76.00,243,,,,,,,,3.0,24,5,IND
4,Trent Dilfer,Fresno St.,QB,75.30,228,,,,,,,,14.0,22,6,TAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Terry Smith,Clemson,WR,72.60,195,,4.78,,33.0,117,4.25,,1,NaN,0,Undrafted
225,Irving Spikes,Louisiana-Monroe,RB,67.60,212,,4.69,17,30.0,112,4.28,,4,NaN,0,Undrafted
226,Tommy Thompson,Oregon,P,69.60,192,,,,,,,,3,NaN,0,Undrafted
227,Matt Werner,UCLA,DE,75.40,264,,,24,31.0,110,4.37,,0,NaN,0,Undrafted
228,Paul White,Miami (FL),CB,68.60,177,,4.61,12,38.5,124,4.07,,2,NaN,0,Undrafted

In [ ]:
df1995 = get_data(1995)

In [ ]:
df1995

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Ki-Jana Carter,Penn St.,RB,70.00,227,,,,,,,,10.0,21,1,CIN
1,Tony Boselli,USC,OT,78.90,323,,5.23,26,30.0,102,4.60,,7.0,23,2,JAX
2,Michael Westbrook,Colorado,WR,75.40,215,,4.51,,,124,4.09,,8.0,23,4,WAS
3,Kerry Collins,Penn St.,QB,77.00,240,,,,,,,,17.0,22,5,CAR
4,Kevin Carter,Florida,DE,77.60,274,,,,,,,,14.0,21,6,STL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,Brenden Stai,Nebraska,OG,76.30,305,,5.13,37,29.5,109,4.52,,8,NaN,0,Undrafted
218,Darnell Stephens,Clemson,OLB,71.30,253,,4.98,18,31.5,107,4.68,,2,NaN,0,Undrafted
219,Keith Washington,Nevada Las Vegas,DE,75.30,253,,4.96,14,31.0,113,4.28,,10,NaN,0,Undrafted
220,Robert Williams,Valdosta State (GA),WR,75.50,237,,4.86,,27.5,113,,,2,NaN,0,Undrafted
221,Jamal Willis,Brigham Young,RB,74.00,218,,4.61,18,34.0,122,4.31,,2,NaN,0,Undrafted

In [ ]:
df1996 = get_data(1996)

In [ ]:
df1996

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Keyshawn Johnson,USC,WR,75.30,220,,,,31.5,125,4.25,,11.0,24,1,NYJ
1,Kevin Hardy,Illinois,OLB,76.40,245,,4.81,16,32.0,119,4.04,,9.0,23,2,JAX
2,Simeon Rice,Illinois,DE,77.00,259,,4.79,26,,,,,12.0,22,3,ARI
3,Jonathan Ogden,UCLA,OT,80.00,318,,5.12,30,31.0,113,,,12.0,22,4,BAL
4,Cedric Jones,Oklahoma,DE,75.50,275,,,,,,,,5.0,22,5,NYG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Robert Walker,West Virginia,RB,70.80,205,,4.55,15,34.0,113,,,0,NaN,0,Undrafted
225,Casey Wiegmann,Iowa,C,74.30,291,,,,,,,,16,NaN,0,Undrafted
226,Gerome Williams,Houston,FS,72.60,195,,4.77,18,34.5,123,,,2,NaN,0,Undrafted
227,Grant Williams,Louisiana Tech,OT,79.80,322,,5.60,,23.5,90,4.79,,9,NaN,0,Undrafted
228,Sir Mawn Wilson,Syracuse,WR,73.00,209,,4.60,,35.0,132,4.24,,1,NaN,0,Undrafted

In [ ]:
df1997 = get_data(1997)

In [ ]:
df1997

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Orlando Pace,Ohio St.,OT,78.90,334,,,,,,,,13.0,21,1,STL
1,Darrell Russell,USC,DT,76.60,321,,,25,31.5,96,4.26,7.65,7.0,21,2,OAK
2,Shawn Springs,Ohio St.,CB,71.90,197,,,17,,,,,13.0,22,3,SEA
3,Peter Boulware,Florida St.,DE,76.10,254,,4.76,,34.0,118,4.20,7.64,9.0,22,4,BAL
4,Bryant Westbrook,Texas,CB,71.80,199,,,,,,,,6.0,22,5,DET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Josh Wilcox,Oregon,TE,74.60,256,,4.99,14,30.5,108,4.54,7.60,1,NaN,0,Undrafted
251,Pat Williams,Texas A&M,DT,75.10,288,,4.90,24,26.5,93,4.72,8.36,14,NaN,0,Undrafted
252,Abu Wilson,Utah State,RB,72.40,214,,4.73,15,31.5,117,4.50,7.75,2,NaN,0,Undrafted
253,Robert Wilson,Florida A&M,WR,70.80,176,,4.82,,31.5,108,4.57,7.42,3,NaN,0,Undrafted
254,Lawrence Wright,Florida,SS,72.80,214,,,20,,,,,2,NaN,0,Undrafted

In [ ]:
df1998 = get_data(1998)

In [ ]:
df1998

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Peyton Manning,Tennessee,QB,77.30,230,,,,,,,,18.0,22,1,IND
1,Ryan Leaf,Washington St.,QB,77.40,261,,,,,,,,4.0,22,2,SDG
2,Andre Wadsworth,Florida St.,DE,75.60,278,,,,35.5,119,4.38,7.42,3.0,23,3,ARI
3,Curtis Enis,Penn St.,RB,72.60,242,,,,,,,,3.0,22,5,CHI
4,Grant Wistrom,Nebraska,OLB,76.90,273,,,,,,,,9.0,22,6,STL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Tremayne Stephens,North Carolina State,RB,70.80,205,,4.54,14,40.0,121,4.00,7.19,2,NaN,0,Undrafted
219,Jason Suttle,Wisconsin,CB,70.00,185,,4.54,,36.5,120,3.87,7.16,2,NaN,0,Undrafted
220,Mark Thomas,North Carolina State,TE,76.30,253,,4.91,18,34.0,109,4.47,8.07,0,NaN,0,Undrafted
221,Edwin Watson,Purdue,FB,71.60,224,,4.60,20,33.5,120,3.95,7.41,2,NaN,0,Undrafted
222,Ed Williams,Iowa State,WR,74.40,204,,4.65,,32.0,108,4.03,7.32,0,NaN,0,Undrafted

In [ ]:
df1999 = get_data(1999)

In [ ]:
df1999

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Tim Couch,Kentucky,QB,76.10,225,22,5.08,,31.0,,4.34,,5.0,22,1,CLE
1,Donovan McNabb,Syracuse,QB,74.30,223,14,4.64,,33.0,116,4.38,7.30,13.0,22,2,PHI
2,Akili Smith,Oregon,QB,74.80,227,26,4.70,,34.0,111,4.29,6.99,4.0,24,3,CIN
3,Edgerrin James,Miami (FL),RB,72.00,216,,4.38,,,,3.88,6.87,11.0,21,4,IND
4,Ricky Williams,Texas,RB,70.80,244,,4.56,,37.0,124,,,13.0,22,5,NOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Aaron Williams,Indiana,DE,77.00,253,,4.79,19,33.5,108,4.34,7.70,6,NaN,0,Undrafted
260,Clarence Williams,Michigan,RB,68.50,202,,4.71,19,33.5,105,4.15,6.98,1,NaN,0,Undrafted
261,Gerald Williams,Oklahoma,WR,75.00,207,,4.45,,35.5,117,3.96,7.09,12,NaN,0,Undrafted
262,Mark Word,Jacksonville State (AL),OLB,76.90,258,,4.87,16,31.5,115,4.33,7.44,3,NaN,0,Undrafted
263,Anthony Wright,South Carolina,QB,73.40,195,16,4.74,,31.0,116,4.35,7.45,10,NaN,0,Undrafted

## From our background research, we realized that pre 2000 draft combine data were hand timed instead of electronically timed, we will be saving them into 2 different csv files to distinguish between 1987-1999 and 2000-2022

In [ ]:
final_df = pd.DataFrame()
final_df = pd.concat([final_df, df1987, df1988, df1989, df1990, df1991, df1992, df1993, df1994, df1995, df1996, df1997, df1998, df1999])

In [ ]:
final_df

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,,4.75,13,,,,,21.0,23,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,,,27,34.0,118,,,6.0,22,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,,4.95,,28.0,108,4.51,,6.0,23,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,,4.76,,29.0,103,4.91,,6.0,23,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,,4.86,17,,,,,5.0,22,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Aaron Williams,Indiana,DE,77.00,253,,4.79,19,33.5,108,4.34,7.70,6,NaN,0,Undrafted
260,Clarence Williams,Michigan,RB,68.50,202,,4.71,19,33.5,105,4.15,6.98,1,NaN,0,Undrafted
261,Gerald Williams,Oklahoma,WR,75.00,207,,4.45,,35.5,117,3.96,7.09,12,NaN,0,Undrafted
262,Mark Word,Jacksonville State (AL),OLB,76.90,258,,4.87,16,31.5,115,4.33,7.44,3,NaN,0,Undrafted
263,Anthony Wright,South Carolina,QB,73.40,195,16,4.74,,31.0,116,4.35,7.45,10,NaN,0,Undrafted

In [ ]:
final_df.to_csv('new1987_1999.csv', index = False)

## Data from 2000-2022

In [ ]:
df2000 = get_data(2000)

In [ ]:
df2000

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jamal Lewis,Tennessee,RB,71.80,240,,4.58,23,,,,,10.0,21,5,BAL
1,Plaxico Burress,Michigan St.,WR,77.40,231,,4.59,,33.0,115,,,13.0,23,8,PIT
2,Brian Urlacher,New Mexico,OLB,75.90,258,,4.61,27,34.0,122,4.18,6.94,13.0,22,9,CHI
3,Travis Taylor,Florida,WR,72.90,199,,4.43,,37.0,118,,7.15,8.0,22,10,BAL
4,Chad Pennington,Marshall,QB,75.40,229,25,4.85,,33.5,111,4.16,7.12,11.0,24,18,NYJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Anthony White,Kentucky,RB,72.30,195,,4.70,,32.5,118,4.24,7.05,1,NaN,0,Undrafted
213,Bobby Williams,Arkansas,OT,75.80,332,,5.34,28,29.0,97,4.72,7.78,1,NaN,0,Undrafted
214,Jack Williams,Azusa Pacific (CA),SS,70.30,206,,4.74,15,31.5,108,4.65,7.15,3,NaN,0,Undrafted
215,Destry Wright,Jackson State (MS),RB,71.30,216,,4.88,15,29.5,112,4.41,7.15,0,NaN,0,Undrafted
216,Bashir Yamini,Iowa,WR,75.30,191,,4.55,,33.0,130,4.18,7.09,1,NaN,0,Undrafted

In [ ]:
df2001 = get_data(2001)

In [ ]:
df2001

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Michael Vick,Virginia Tech,QB,72.00,210,20,4.33,,38.0,,,,15.0,21,1,ATL
1,Leonard Davis,Texas,OT,78.00,370,,5.32,33,28.0,105,5.18,8.20,12.0,23,2,ARI
2,Justin Smith,Missouri,DE,76.10,267,,4.64,26,34.0,117,,,14.0,21,4,CIN
3,LaDainian Tomlinson,TCU,RB,70.30,221,,4.43,18,40.5,124,4.21,6.84,11.0,22,5,SDG
4,Andre Carter,California,DE,76.40,249,,4.84,20,38.5,132,4.24,,13.0,22,7,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Fred Wakefield,Illinois,DE,79.10,287,,5.07,26,29.0,108,4.64,7.49,8,NaN,0,Undrafted
227,Reggie White,Oklahoma State,RB,71.60,228,,4.59,17,37.5,114,4.40,7.48,0,NaN,0,Undrafted
228,James Whitley,Michigan,CB,70.40,193,,4.70,9,39.0,118,4.40,7.04,3,NaN,0,Undrafted
229,Boo Williams,Arkansas,TE,76.00,237,,4.72,,35.5,119,4.33,7.10,5,NaN,0,Undrafted
230,Marcus Williams,Washington State,WR,77.00,230,,4.56,,41.0,130,4.20,7.37,6,NaN,0,Undrafted

In [ ]:
df2002 = get_data(2002)

In [ ]:
df2002

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,David Carr,Fresno St.,QB,75.40,223,24,4.67,,35.0,106,4.28,7.05,11.0,23,1,HOU
1,Joey Harrington,Oregon,QB,76.00,215,32,4.85,,32.0,107,4.21,7.00,6.0,23,3,DET
2,Mike Williams,Texas,OT,77.60,375,,5.30,29,30.0,100,,,8.0,22,4,BUF
3,Quentin Jammer,Texas,CB,71.90,204,,4.49,18,36.0,124,,,12.0,23,5,SDG
4,Ryan Sims,North Carolina,DT,76.10,311,,5.09,27,,,,,9.0,22,6,KAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Josh Thornhill,Michigan State,ILB,74.30,243,,4.76,27,36.5,121,4.19,7.15,0,NaN,0,Undrafted
219,Ryan Tolhurst,Richmond (VA),WR,71.10,196,,4.46,,38.0,122,3.88,6.65,0,NaN,0,Undrafted
220,Kurt Vollers,Notre Dame,OT,79.10,321,,5.39,30,30.5,,,,4,NaN,0,Undrafted
221,Lenny Walls,Boston College,CB,76.30,192,,4.70,7,37.0,115,,,6,NaN,0,Undrafted
222,Ricky Williams,Texas Tech,RB,67.30,190,,4.48,19,32.5,108,,,11,NaN,0,Undrafted

In [ ]:
df2003 = get_data(2003)

In [ ]:
df2003

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Carson Palmer,USC,QB,77.00,232,26,4.65,,,,,,15.0,23,1,CIN
1,Andre Johnson,Miami (FL),WR,74.00,230,,4.40,,39.0,132,,,14.0,22,3,HOU
2,Terence Newman,Kansas St.,CB,70.40,189,,4.41,10,41.0,136,3.82,6.88,15.0,25,5,DAL
3,Johnathan Sullivan,Georgia,DT,75.10,313,,5.07,,,,,,3.0,22,6,NOR
4,Byron Leftwich,Marshall,QB,77.40,241,25,5.10,,,,,,10.0,23,7,JAX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Torrin Tucker,Southern Mississippi,OG,77.80,328,,5.43,,30.0,103,4.96,8.38,3,NaN,0,Undrafted
222,Kevin Ware,Washington,TE,74.90,256,,4.80,22,34.0,110,4.47,7.51,2,NaN,0,Undrafted
223,Derek Watson,South Carolina,RB,73.00,212,,4.63,15,34.0,114,4.20,7.35,1,NaN,0,Undrafted
224,DeWayne White,Louisville,DE,74.10,273,,4.78,22,33.0,112,4.22,7.22,7,NaN,0,Undrafted
225,Thomas Wright,Michigan State,SS,73.40,201,,4.79,13,36.0,114,4.38,7.41,2,NaN,0,Undrafted

In [ ]:
df2004= get_data(2004)

In [ ]:
df2004

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Eli Manning,Mississippi,QB,76.80,221,39,4.90,,,,,,16.0,23,1,SDG
1,Robert Gallery,Iowa,OT,79.10,323,,4.97,24,30.0,105,4.38,7.42,8.0,24,2,OAK
2,Philip Rivers,North Carolina St.,QB,77.00,229,30,5.08,,,,,,17.0,22,4,NYG
3,Kellen Winslow,Miami (FL),TE,75.90,251,,4.62,24,,120,,,10.0,21,6,CLE
4,DeAngelo Hall,Virginia Tech,CB,70.00,202,,4.36,,,,,,14.0,20,8,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Shaud Williams,Alabama,RB,67.50,193,,4.71,15,34.0,114,4.15,7.01,4,NaN,0,Undrafted
221,Keith Willis,Virginia Tech,TE,77.80,260,,5.03,21,,114,4.44,7.33,0,NaN,0,Undrafted
222,George Wilson,Arkansas,WR,72.10,213,,4.60,,35.0,120,3.98,7.07,9,NaN,0,Undrafted
223,Travis Wilson,Kansas State,FB,75.50,256,,4.85,25,33.0,109,4.36,7.56,3,NaN,0,Undrafted
224,Jason Wright,Northwestern,RB,70.40,210,,4.66,,30.0,111,4.12,7.35,7,NaN,0,Undrafted

In [ ]:
df2005 = get_data(2005)

In [ ]:
df2005

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Alex Smith,Utah,TE,76.13,258,,4.75,28,,,,,16.0,21,1,SFO
1,Alex Smith,Utah,QB,76.13,217,40,4.78,,32.0,113,3.96,6.82,16.0,21,1,SFO
2,Alex Smith,Stanford,TE,76.13,258,,4.75,28,,,,,11.0,23,71,TAM
3,Alex Smith,Stanford,QB,76.13,217,40,4.78,,32.0,113,3.96,6.82,11.0,23,71,TAM
4,Ronnie Brown,Auburn,RB,72.25,233,,4.46,18,34.0,117,4.08,7.10,10.0,23,2,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,Mike Watson,West Virginia,OT,76.13,316,,5.51,,27.5,95,,,0,NaN,0,Undrafted
306,Marquis Weeks,Virginia,SS,70.50,216,,4.62,23,36.5,119,3.89,7.46,1,NaN,0,Undrafted
307,Sam Wilder,Colorado,OT,76.90,298,,5.39,23,26.5,99,4.50,7.43,1,NaN,0,Undrafted
308,Ben Wilkerson,Louisiana State,C,75.50,299,,,,,,,,3,NaN,0,Undrafted
309,Jerron Wishom,Louisiana Tech,CB,71.75,193,,4.53,18,38.0,118,4.07,6.81,2,NaN,0,Undrafted

In [ ]:
df2006 = get_data(2006)

In [ ]:
df2006

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Mario Williams,North Carolina St.,DE,74.40,269,,4.75,25,34.0,111,4.54,7.49,11.0,21,1,HOU
1,Reggie Bush,USC,RB,70.88,201,,4.37,24,40.5,128,,,11.0,21,2,NOR
2,Vince Young,Texas,QB,76.60,229,15,4.48,,,,,,6.0,23,3,TEN
3,A.J. Hawk,Ohio St.,OLB,73.00,248,,4.64,24,40.0,115,3.96,6.82,11.0,22,5,GNB
4,Vernon Davis,Maryland,TE,75.25,254,,4.39,33,42.0,128,4.17,7.00,14.0,22,6,SFO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,Cooper Wallace,Auburn,TE,75.63,261,,4.83,21,29.0,105,4.21,7.29,1,NaN,0,Undrafted
291,Scott Ware,Southern California,SS,73.13,218,,4.72,15,37.0,115,4.25,7.05,0,NaN,0,Undrafted
292,Terrence Whitehead,Oregon,RB,70.13,209,,4.73,,30.5,108,4.27,7.21,0,NaN,0,Undrafted
293,Steve Williams,Northwest Missouri State,DT,74.75,300,,,,,,,,4,NaN,0,Undrafted
294,Justin Wyatt,Southern California,CB,69.13,189,,4.72,14,,,,,0,NaN,0,Undrafted

In [ ]:
df2007 = get_data(2007)

In [ ]:
df2007

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,JaMarcus Russell,LSU,QB,77.50,265,24,4.83,,,,,,3.0,22,1,OAK
1,Calvin Johnson,Georgia Tech,WR,77.00,239,,4.38,,42.5,139,,,9.0,21,2,DET
2,Joe Thomas,Wisconsin,OT,78.63,311,,4.94,28,33.0,110,4.88,7.95,11.0,22,3,CLE
3,Gaines Adams,Clemson,DE,76.75,258,,4.67,,35.0,119,4.36,7.17,3.0,24,4,TAM
4,Levi Brown,Penn St.,OT,77.50,323,,5.42,31,25.5,97,4.89,7.87,7.0,23,5,ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,Kyle Williams,Southern California,OT,77.88,305,,5.46,27,26.0,94,4.90,8.17,3,NaN,0,Undrafted
289,Julius Wilson,Alabama-Birmingham,OT,76.38,327,,5.46,17,27.0,103,5.00,8.33,1,NaN,0,Undrafted
290,D'Juan Woods,Oklahoma State,WR,72.50,208,,4.62,,36.5,120,4.34,6.89,1,NaN,0,Undrafted
291,Selvin Young,Texas,RB,71.00,207,,4.58,,,,,,2,NaN,0,Undrafted
292,Jared Zabransky,Boise State,QB,74.13,219,36,4.59,,35.5,111,4.08,6.78,0,NaN,0,Undrafted

In [ ]:
df2008 = get_data(2008)

In [ ]:
df2008

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jake Long,Michigan,OT,79.00,313,,5.26,37,27.5,102,4.73,7.44,9.0,23,1,MIA
1,Chris Long,Virginia,DE,75.00,272,,4.83,,34.0,124,4.21,7.02,11.0,23,2,STL
2,Matt Ryan,Boston Col.,QB,76.75,228,32,4.94,,,,4.51,7.40,15.0,23,3,ATL
3,Darren McFadden,Arkansas,RB,73.25,211,,4.38,13,33.0,128,4.10,6.86,10.0,21,4,OAK
4,Glenn Dorsey,LSU,DT,73.50,297,,5.12,27,25.5,100,4.80,7.52,9.0,23,5,KAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Marcus Walker,Oklahoma,CB,70.38,191,,4.57,7,35.5,122,4.07,6.80,1,NaN,0,Undrafted
302,Bobbie Williams,Bethune-Cookman (FL),FS,72.25,214,,,,,,,,13,NaN,0,Undrafted
303,Wesley Woodyard,Kentucky,OLB,72.40,227,,4.53,,30.0,118,4.25,7.15,12,NaN,0,Undrafted
304,Eric Young,Tennessee,OG,75.63,310,,,,,,,,1,NaN,0,Undrafted
305,Jonathan Zenon,Louisiana State,CB,71.80,191,,4.64,,33.0,,,,0,NaN,0,Undrafted

In [ ]:
df2009 = get_data(2009)

In [ ]:
df2009

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Matthew Stafford,Georgia,QB,74.25,225,38,4.81,,30.5,107,4.47,7.06,14.0,21,1,DET
1,Jason Smith,Baylor,OT,77.00,309,23,5.09,33,24.0,96,4.69,7.53,4.0,23,2,STL
2,Tyson Jackson,LSU,DE,76.13,296,,4.94,20,28.5,102,4.80,7.64,8.0,23,3,KAN
3,Aaron Curry,Wake Forest,OLB,73.75,254,,4.52,25,37.0,124,4.51,7.15,4.0,23,4,SEA
4,Mark Sanchez,USC,QB,74.13,227,28,4.93,,32.5,116,4.21,7.06,10.0,22,5,NYJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Edwin Williams,Maryland,C,74.25,308,,5.40,22,28.5,99,4.98,8.15,3,NaN,0,Undrafted
326,Worrell Williams,California,ILB,70.75,240,,4.83,23,35.0,111,,,0,NaN,0,Undrafted
327,DeAngelo Willingham,Tennessee,FS,71.25,217,,4.46,20,36.0,126,4.36,6.81,0,NaN,0,Undrafted
328,Drew Willy,Buffalo,QB,75.13,215,,4.90,,30.5,109,4.45,7.18,1,NaN,0,Undrafted
329,Jahi Word-Daniels,Georgia Tech,CB,72.00,197,,4.59,24,35.5,122,,6.83,0,NaN,0,Undrafted

In [ ]:
df2010 = get_data(2010)

In [ ]:
df2010

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Sam Bradford,Oklahoma,QB,76.25,236,36,4.79,,,,,,9.0,22,1,STL
1,Ndamukong Suh,Nebraska,DT,75.88,307,,5.03,32,35.5,105,4.44,7.21,13.0,23,2,DET
2,Gerald McCoy,Oklahoma,DT,76.13,295,,5.04,23,30.5,114,4.48,7.32,12.0,22,3,TAM
3,Trent Williams,Oklahoma,OT,76.63,315,,4.81,23,34.5,113,4.63,7.64,13.0,22,4,WAS
4,Eric Berry,Tennessee,FS,71.63,211,,4.40,19,43.0,130,4.23,6.80,9.0,21,5,KAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Blair White,Michigan State,WR,74.25,209,,4.49,18,33.5,115,4.03,6.69,2,NaN,0,Undrafted
341,Jeremy Williams,Tulane (LA),WR,72.13,206,,4.59,14,36.0,117,4.31,6.73,0,NaN,0,Undrafted
342,Keiland Williams,Louisiana State,RB,70.88,233,,4.52,16,33.0,,,,3,NaN,0,Undrafted
343,Stephen Williams,Toledo,WR,76.50,210,,4.50,15,36.5,125,4.11,6.81,3,NaN,0,Undrafted
344,Kion Wilson,South Florida,ILB,72.38,239,,4.87,27,36.5,123,4.53,7.47,4,NaN,0,Undrafted

In [ ]:
df2011 = get_data(2011)

In [ ]:
df2011

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Cam Newton,Auburn,QB,77.00,248,21,4.56,,35.0,126,4.18,6.92,11.0,22,1,CAR
1,Von Miller,Texas A&M,OLB,74.63,246,,4.42,21,37.0,126,4.06,6.70,12.0,22,2,DEN
2,Marcell Dareus,Alabama,DT,75.13,319,,4.93,24,27.0,106,4.62,7.83,9.0,21,3,BUF
3,A.J. Green,Georgia,WR,75.63,211,10,4.48,18,34.5,126,4.21,6.91,12.0,23,4,CIN
4,Patrick Peterson,LSU,CB,72.25,219,,4.31,15,38.0,126,4.07,6.58,12.0,21,5,ARI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Jonathan Williams,East Carolina (NC),RB,71.50,212,,4.45,18,37.5,124,4.43,6.84,6,NaN,0,Undrafted
321,Marshall Williams,Wake Forest,WR,72.75,188,,4.56,9,35.5,123,4.09,6.61,0,NaN,0,Undrafted
322,Zack Williams,Maryland,C,75.00,309,,5.27,28,30.0,103,4.62,7.54,2,NaN,0,Undrafted
323,Ryan Winterswyk,Boise State,DE,76.13,268,,4.96,18,30.0,111,4.37,7.01,0,NaN,0,Undrafted
324,D.J. Young,Michigan State,OT,76.75,307,,5.17,36,29.0,105,4.70,7.92,1,NaN,0,Undrafted

In [ ]:
df2012 = get_data(2012)

In [ ]:
df2012

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Andrew Luck,Stanford,QB,76.00,234,37,4.59,,36.0,124,4.28,6.80,7.0,22,1,IND
1,Trent Richardson,Alabama,RB,69.25,228,,4.49,25,,,,,3.0,22,3,CLE
2,Matt Kalil,USC,OT,78.63,306,,4.96,30,27.0,,4.65,7.33,6.0,23,4,MIN
3,Justin Blackmon,Oklahoma St.,WR,72.88,207,,4.48,14,35.0,123,4.38,7.13,2.0,22,5,JAX
4,Morris Claiborne,LSU,CB,71.13,188,4,4.50,,34.5,118,4.12,7.01,8.0,22,6,DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,Marc Tyler,Southern California,RB,70.63,219,,4.70,19,30.5,110,4.50,7.27,0,NaN,0,Undrafted
332,Matt Veldman,North Dakota State,TE,79.00,256,,4.72,17,35.5,119,4.47,6.99,2,NaN,0,Undrafted
333,Dustin Waldron,Portland State (OR),OT,77.00,305,,5.23,29,26.0,103,4.75,7.93,1,NaN,0,Undrafted
334,Desmond Wynn,Rutgers,OG,77.50,303,,4.98,28,32.5,,4.46,7.51,0,NaN,0,Undrafted
335,Markus Zusevics,Iowa,OT,77.38,303,,5.08,,,,,,2,NaN,0,Undrafted

In [ ]:
df2013 = get_data(2013)

In [ ]:
df2013

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Eric Fisher,Central Michigan,OT,79.25,306,23,5.05,27,28.5,116,4.44,7.59,9.0,22,1,KAN
1,Luke Joeckel,Texas A&M,OT,78.00,306,28,5.30,27,28.5,106,4.68,7.40,5.0,21,2,JAX
2,Dion Jordan,Oregon,DE,78.25,248,,4.60,,32.5,122,4.35,7.02,8.0,23,3,MIA
3,Lane Johnson,Oklahoma,OT,78.00,303,28,4.72,28,34.0,118,4.52,7.31,10.0,23,4,PHI
4,Barkevious Mingo,LSU,OLB,76.25,241,,4.58,,37.0,128,4.39,6.84,8.0,22,6,CLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,John Wetzel,Boston College,OT,79.00,315,,5.46,22,25.0,105,4.81,7.90,5,NaN,0,Undrafted
342,Anthony White,Michigan State,DT,72.75,335,,5.26,27,29.5,101,4.93,8.01,1,NaN,0,Undrafted
343,Brad Wing,Louisiana State,P,74.38,205,,,,,,,,4,NaN,0,Undrafted
344,George Winn,Cincinnati,RB,70.50,218,,4.75,22,34.5,119,4.33,7.13,3,NaN,0,Undrafted
345,Cierre Wood,Notre Dame,RB,71.25,213,,4.56,16,37.5,124,4.29,6.87,2,NaN,0,Undrafted

In [ ]:
df2014= get_data(2014)

In [ ]:
df2014

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jadeveon Clowney,South Carolina,DE,77.25,266,,4.53,21,37.5,123,4.43,7.27,9.0,21,1,HOU
1,Greg Robinson,Auburn,OT,77.00,332,,4.92,32,28.5,112,4.86,7.80,6.0,21,2,STL
2,Blake Bortles,Central Florida,QB,77.00,232,28,4.93,,32.5,114,4.21,7.08,6.0,22,3,JAX
3,Sammy Watkins,Clemson,WR,72.75,211,,4.43,16,34.0,125,4.34,6.95,9.0,21,4,BUF
4,Khalil Mack,Buffalo,OLB,74.63,251,,4.65,23,40.0,127,4.18,7.08,9.0,23,5,OAK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,Chris Whaley,Texas,DT,75.13,269,,,22,,,,,1,NaN,0,Undrafted
339,Ryan White,Auburn,CB,70.38,194,,4.51,13,34.0,125,4.30,7.05,0,NaN,0,Undrafted
340,Damien Williams,Oklahoma,RB,71.25,222,,4.45,16,35.5,121,4.25,7.37,8,NaN,0,Undrafted
341,Albert Wilson,Georgia State,WR,69.38,202,,4.43,10,37.5,123,4.21,7.00,8,NaN,0,Undrafted
342,Kerry Wynn,Richmond (VA),DE,76.88,266,,4.97,31,34.0,113,4.73,7.11,6,NaN,0,Undrafted

In [ ]:
df2015 = get_data(2015)

In [ ]:
df2015

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jameis Winston,Florida St.,QB,75.75,231,27,4.97,,28.5,103,4.36,7.16,8.0,21,1,TAM
1,Marcus Mariota,Oregon,QB,75.75,222,,4.52,,36.0,121,4.11,6.87,8.0,21,2,TEN
2,Dante Fowler,Florida,OLB,74.63,261,16,4.60,19,32.5,112,4.32,7.40,8.0,21,3,JAX
3,Amari Cooper,Alabama,WR,72.88,211,21,4.42,,33.0,120,3.98,6.71,8.0,21,4,OAK
4,Brandon Scherff,Iowa,OT,76.63,319,,5.05,23,32.5,107,4.57,7.18,8.0,23,5,WAS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Cam Worthy,East Carolina (NC),WR,74.25,211,,4.59,12,,,,,0,NaN,0,Undrafted
453,J.J. Worton,Central Florida,WR,73.00,209,,4.63,,,,,,0,NaN,0,Undrafted
454,Dylan Wynn,Oregon State,DE,73.75,270,,4.92,43,33.5,110,4.50,7.36,1,NaN,0,Undrafted
455,Shane Wynn,Indiana,WR,66.00,167,,4.38,13,36.0,120,4.25,6.89,3,NaN,0,Undrafted
456,Zach Zenner,South Dakota State,FB,71.50,223,35,4.60,25,41.0,121,4.14,7.08,5,NaN,0,Undrafted

In [ ]:
df2016 = get_data(2016)

In [ ]:
df2016

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jared Goff,California,QB,76.00,215,36,4.82,,27.0,110,4.47,7.17,7.0,21,1,LAR
1,Carson Wentz,North Dakota St.,QB,77.25,237,29,4.77,,30.5,118,4.15,6.86,7.0,23,2,PHI
2,Joey Bosa,Ohio St.,DE,77.25,269,,4.86,24,32.0,120,4.21,6.89,7.0,21,3,SDG
3,Ezekiel Elliott,Ohio St.,RB,71.75,225,,4.47,,32.5,118,,,7.0,21,4,DAL
4,Jalen Ramsey,Florida St.,FS,73.25,209,,4.41,14,41.5,135,4.18,6.94,7.0,21,5,JAX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,Antwaun Woods,Southern California,DT,72.13,318,,5.00,,27.5,104,,,5,NaN,0,Undrafted
365,Scooby Wright,Arizona,ILB,71.75,239,,4.90,22,31.0,113,4.47,7.25,2,NaN,0,Undrafted
366,Connor Wujciak,Boston College,DT,74.50,291,,4.91,22,34.5,117,4.27,7.32,0,NaN,0,Undrafted
367,Avery Young,Auburn,OT,76.63,328,,5.39,20,25.0,97,4.91,8.22,1,NaN,0,Undrafted
368,Justin Zimmer,Ferris State (MI),DT,74.63,302,,4.91,44,32.0,117,4.42,7.09,4,NaN,0,Undrafted

In [ ]:
df2017 = get_data(2017)

In [ ]:
df2017

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Myles Garrett,Texas A&M,DE,76.25,272,31,4.64,33,41.0,128,4.20,,6.0,21,1,CLE
1,Mitchell Trubisky,North Carolina,QB,74.13,222,25,4.67,,27.5,116,4.25,6.87,6.0,23,2,CHI
2,Solomon Thomas,Stanford,DE,74.75,273,24,4.69,30,35.0,126,4.58,6.95,6.0,22,3,SFO
3,Leonard Fournette,LSU,RB,72.13,240,11,4.51,,28.5,,,,6.0,22,4,JAX
4,Corey Davis,Western Michigan,WR,74.75,209,31,,,,,4.28,,6.0,22,5,TEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,Chad Wheeler,Southern California,OT,78.63,306,,5.42,15,20.5,105,5.01,7.95,3,NaN,0,Undrafted
405,Kermit Whitfield,Florida State,WR,67.75,185,,4.44,8,32.5,120,4.37,7.17,1,NaN,0,Undrafted
406,Darrell Williams,Western Kentucky,OT,77.25,315,,5.24,25,29.0,99,4.93,7.81,2,NaN,0,Undrafted
407,Eric Wilson,Cincinnati,OLB,73.13,230,,4.53,25,39.5,121,4.31,6.96,6,NaN,0,Undrafted
408,Deatrich Wise,Arkansas,DE,76.88,274,,4.92,22,33.0,124,,,6,NaN,0,Undrafted

In [ ]:
df2018 = get_data(2018)

In [ ]:
df2018

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Baker Mayfield,Oklahoma,QB,72.63,215,,4.84,,29.0,111,4.28,7.00,5.0,23,1,CLE
1,Saquon Barkley,Penn St.,RB,72.00,233,,4.40,29,41.0,,4.24,,5.0,21,2,NYG
2,Sam Darnold,USC,QB,75.38,221,,4.85,,26.5,105,4.40,6.96,5.0,21,3,NYJ
3,Denzel Ward,Ohio St.,CB,70.88,183,,4.32,16,39.0,136,,,5.0,21,4,CLE
4,Bradley Chubb,North Carolina St.,DE,76.38,269,,4.65,24,36.0,121,4.41,7.37,5.0,22,5,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,Ryan Winslow,Pittsburgh,P,76.88,217,,,,,,,,1,NaN,0,Undrafted
401,Ethan Wolf,Tennessee,TE,77.75,252,,4.98,15,29.5,110,4.29,7.14,1,NaN,0,Undrafted
402,John Wolford,Wake Forest,QB,71.50,205,,4.77,,31.0,109,4.18,6.78,3,NaN,0,Undrafted
403,Chris Worley,Ohio State,ILB,73.38,238,,4.86,15,29.5,,4.59,7.08,0,NaN,0,Undrafted
404,Jonathan Wynn,Vanderbilt,DE,76.25,256,,4.77,19,32.0,113,4.47,7.13,1,NaN,0,Undrafted

In [ ]:
df2019 = get_data(2019)

In [ ]:
df2019

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Kyler Murray,Oklahoma,QB,70.13,207,,,,,,,,4.0,22,1,ARI
1,Nick Bosa,Ohio St.,DE,75.75,266,,4.79,29,33.5,116,4.14,7.10,4.0,21,2,SFO
2,Quinnen Williams,Alabama,DT,75.00,303,,4.83,,30.5,112,,,4.0,21,3,NYJ
3,Clelin Ferrell,Clemson,DE,76.38,264,,,25,,114,4.40,7.26,4.0,22,4,OAK
4,Devin White,LSU,ILB,72.13,237,,4.42,22,39.5,118,4.17,7.07,4.0,21,5,TAM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Preston Williams,Colorado State,WR,76.25,211,,4.61,,31.5,116,4.35,7.11,4,NaN,0,Undrafted
426,Gerald Willis,Miami (FL),DT,73.75,302,,5.17,22,27.0,103,,,0,NaN,0,Undrafted
427,Andrew Wingard,Wyoming,S,72.13,209,,4.56,9,36.5,121,4.20,7.08,4,NaN,0,Undrafted
428,Daniel Wise,Kansas,DT,74.75,279,,5.28,22,27.5,112,4.37,7.53,2,NaN,0,Undrafted
429,Willie Wright,Tulsa (OK),OG,74.63,296,,5.07,24,33.0,114,4.71,7.57,1,NaN,0,Undrafted

In [ ]:
df2020 = get_data(2020)

In [ ]:
df2020

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Joe Burrow,LSU,QB,75.63,221,,,,,,,,3.0,23,1,CIN
1,Chase Young,Ohio St.,DE,76.88,264,,,,,,,,3.0,21,2,WAS
2,Jeff Okudah,Ohio St.,CB,73.13,205,,4.48,11,41.0,135,,,3.0,21,3,DET
3,Andrew Thomas,Georgia,OT,77.13,315,,5.22,21,30.5,109,4.66,7.58,3.0,21,4,NYG
4,Tua Tagovailoa,Alabama,QB,72.00,217,,,,,,,,3.0,22,5,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,Cody White,Michigan State,WR,75.00,215,,4.66,,35.5,120,4.52,7.19,3,NaN,0,Undrafted
290,Mitchell Wilcox,South Florida,TE,75.50,247,,4.88,,31.0,112,4.43,7.37,2,NaN,0,Undrafted
291,Raequan Williams,Michigan State,DT,76.00,308,,5.04,17,25.5,101,4.78,7.72,2,NaN,0,Undrafted
292,Jedrick Wills,Alabama,OT,76.25,312,,5.05,,34.5,113,4.84,,3,NaN,0,Undrafted
293,Steven Wirtel,Iowa State,LS,76.00,227,,4.76,,26.0,120,4.28,7.12,1,NaN,0,Undrafted

In [ ]:
df2021 = get_data(2021)

In [ ]:
df2021

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Trevor Lawrence,Clemson,QB,77.63,213,,,,38.5,119,,,2.0,21,1,JAX
1,Zach Wilson,BYU,QB,74.13,214,,,,,113,,,2.0,22,2,NYJ
2,Trey Lance,North Dakota St.,QB,75.88,224,,,,,131,,,2.0,21,3,SFO
3,Kyle Pitts,Florida,TE,77.63,245,,4.44,22,33.5,129,4.35,7.12,2.0,20,4,ATL
4,Jaylen Waddle,Alabama,WR,69.50,180,,,,,122,,,2.0,22,6,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,Tyler Vaughns,Southern California,WR,74.00,184,,4.69,7,31.5,120,4.40,7.15,0,NaN,0,Undrafted
299,Lawrence White,Iowa State,FS,71.88,195,,4.62,14,33.5,120,4.38,7.12,0,NaN,0,Undrafted
300,Trill Williams,Syracuse,CB,72.38,208,,4.59,20,36.0,123,4.27,7.17,2,NaN,0,Undrafted
301,Marvin Wilson,Florida State,DT,75.88,303,,5.09,23,25.5,107,4.83,7.71,1,NaN,0,Undrafted
302,Kenny Yeboah,Mississippi,TE,75.88,250,,,15,34.0,116,,,2,NaN,0,Undrafted

In [ ]:
df2022 = get_data(2022)

In [ ]:
df2022

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Travon Walker,Georgia,DE,77.00,272,,4.51,,35.5,123,4.32,6.89,1.0,21,1,JAX
1,Aidan Hutchinson,Michigan,DE,78.63,260,,4.74,,36.0,117,4.15,6.73,1.0,22,2,DET
2,Kayvon Thibodeaux,Oregon,DE,76.00,254,,4.58,27,,,,,1.0,21,5,NYG
3,Ikem Ekwonu,North Carolina St.,OT,76.00,310,,4.93,,29.0,108,4.73,7.82,1.0,21,6,CAR
4,Evan Neal,Alabama,OT,79.50,337,,,,,,,,1.0,21,7,NYG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Jaylen Warren,Oklahoma State,RB,68.00,204,,4.55,,31.5,119,,,0,NaN,0,Undrafted
257,Sam Webb,Missouri Western,CB,72.50,202,,4.48,14,,,,,0,NaN,0,Undrafted
258,Isaiah Weston,Northern Iowa,WR,75.50,214,,4.42,20,40.0,135,,,0,NaN,0,Undrafted
259,ZaQuandre White,South Carolina,RB,72.13,206,,,,,,,,0,NaN,0,Undrafted
260,Jalen Wydermyer,Texas A&M,TE,75.88,255,,,,,,,,0,NaN,0,Undrafted

In [ ]:
finaldf2 = pd.concat([df2000, df2001, df2002, df2003, df2004, df2005, df2006, df2007, df2008, df2009, df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020, df2021, df2022])
finaldf2

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Jamal Lewis,Tennessee,RB,71.80,240,,4.58,23,,,,,10.0,21,5,BAL
1,Plaxico Burress,Michigan St.,WR,77.40,231,,4.59,,33.0,115,,,13.0,23,8,PIT
2,Brian Urlacher,New Mexico,OLB,75.90,258,,4.61,27,34.0,122,4.18,6.94,13.0,22,9,CHI
3,Travis Taylor,Florida,WR,72.90,199,,4.43,,37.0,118,,7.15,8.0,22,10,BAL
4,Chad Pennington,Marshall,QB,75.40,229,25,4.85,,33.5,111,4.16,7.12,11.0,24,18,NYJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,Jaylen Warren,Oklahoma State,RB,68.00,204,,4.55,,31.5,119,,,0,NaN,0,Undrafted
257,Sam Webb,Missouri Western,CB,72.50,202,,4.48,14,,,,,0,NaN,0,Undrafted
258,Isaiah Weston,Northern Iowa,WR,75.50,214,,4.42,20,40.0,135,,,0,NaN,0,Undrafted
259,ZaQuandre White,South Carolina,RB,72.13,206,,,,,,,,0,NaN,0,Undrafted
260,Jalen Wydermyer,Texas A&M,TE,75.88,255,,,,,,,,0,NaN,0,Undrafted

In [ ]:
finaldf2.to_csv('new2000_2022.csv', index = False)

## Note: All the data in csv files are in our group repo's 'data' file. 

### new1987_1999.csv and new2000_2022.csv

# Data Cleaning

In [2]:
import numpy as np
import pandas as pd

In [3]:
df1987 = pd.read_csv('https://raw.githubusercontent.com/Zaanis/Cogs108-Project/main/new1987_1999.csv')
df2000 = pd.read_csv('https://raw.githubusercontent.com/Zaanis/Cogs108-Project/main/new2000_2022.csv')

Note: this is the same data as the one in our repo, except since it's a private repo, a token is required to read the file, and the token expires after a while. To make it easier, we decided to upload it to Zaanis' public repo.

In [4]:
final_df = pd.concat([df1987, df2000])
final_df

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,NaN,4.75,13.0,NaN,NaN,NaN,NaN,21.0,23.0,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,NaN,NaN,27.0,34.0,118.0,NaN,NaN,6.0,22.0,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,NaN,4.95,NaN,28.0,108.0,4.51,NaN,6.0,23.0,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,NaN,4.76,NaN,29.0,103.0,4.91,NaN,6.0,23.0,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,NaN,4.86,17.0,NaN,NaN,NaN,NaN,5.0,22.0,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7274,Jaylen Warren,Oklahoma State,RB,68.00,204,NaN,4.55,NaN,31.5,119.0,NaN,NaN,0.0,NaN,0,Undrafted
7275,Sam Webb,Missouri Western,CB,72.50,202,NaN,4.48,14.0,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted
7276,Isaiah Weston,Northern Iowa,WR,75.50,214,NaN,4.42,20.0,40.0,135.0,NaN,NaN,0.0,NaN,0,Undrafted
7277,ZaQuandre White,South Carolina,RB,72.13,206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted
7278,Jalen Wydermyer,Texas A&M,TE,75.88,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted

The final data has about 10492 players, however, since we are measuring years of experience, we need to filter out all active players.

In order to filter out active players, we scraped the website: https://www.footballdb.com/players/current.html?letter=(insert A-Z), which has the names of all active players.

In [5]:
def getname(x): #Change name format on website to match the name format in our dataframe
  name = x.split(', ')
  return name[1] +' ' + name[0]

In [6]:
alpha = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
names = [] #Setting empty list to store names of all active players
for letter in alpha:
  url = "https://www.footballdb.com/players/current.html?letter={}".format(letter)
  hdr = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Charset': 'ISO-8859-1,utf-8;q=0.7,*;q=0.3',
        'Accept-Encoding': 'none',
        'Accept-Language': 'en-US,en;q=0.8',
        'Connection': 'keep-alive'} #without this it beautiful soup won't allow me to scrape data, code from stackoverflow
  req = Request(url , headers=hdr)
  webpage = urlopen(req).read()
  soup = BeautifulSoup(webpage, "html.parser")
  lists = soup.find_all('div', class_ = 'tr')
  for l in lists:
    name = l.find('div', class_ = "td").text
    names.append(name)
final_name = [getname(x) for x in names] #Changing the name in our list to the format that matches on dataframe

In [7]:
len(final_name)

2869

### Filtering out active players

In [8]:
filtered = final_df[~final_df['Player'].isin(final_name)]

In [9]:
filtered

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,NaN,4.75,13.0,NaN,NaN,NaN,NaN,21.0,23.0,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,NaN,NaN,27.0,34.0,118.0,NaN,NaN,6.0,22.0,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,NaN,4.95,NaN,28.0,108.0,4.51,NaN,6.0,23.0,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,NaN,4.76,NaN,29.0,103.0,4.91,NaN,6.0,23.0,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,NaN,4.86,17.0,NaN,NaN,NaN,NaN,5.0,22.0,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7270,Carson Strong,Nevada,QB,75.38,226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted
7271,Myron Tagovailoa-Amosa,Notre Dame,DE,74.25,270,NaN,4.81,NaN,29.0,115.0,NaN,NaN,0.0,NaN,0,Undrafted
7272,Isaac Taylor-Stuart,Southern California,CB,73.50,201,NaN,4.42,NaN,NaN,123.0,NaN,NaN,0.0,NaN,0,Undrafted
7277,ZaQuandre White,South Carolina,RB,72.13,206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted
7278,Jalen Wydermyer,Texas A&M,TE,75.88,255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0,Undrafted

## Some players that we appear to have 0 years of experience. This is possible since NFL track players that are on practice squad but never played in any official games, hence 0 years of experience. We will be further removing these players from the dataframe

In [11]:
filtered = filtered[filtered['To'] != 0]

In [12]:
filtered

,Player,College_x,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,To,Age,Pick,Team
0,Vinny Testaverde,Miami (FL),QB,76.30,213,NaN,4.75,13.0,NaN,NaN,NaN,NaN,21.0,23.0,1,TAM
1,Alonzo Highsmith,Miami (FL),FB,72.90,236,NaN,NaN,27.0,34.0,118.0,NaN,NaN,6.0,22.0,3,HOU
2,Kelly Stouffer,Colorado St.,QB,75.00,212,NaN,4.95,NaN,28.0,108.0,4.51,NaN,6.0,23.0,6,STL
3,Reggie Rogers,Washington,DE,78.30,268,NaN,4.76,NaN,29.0,103.0,4.91,NaN,6.0,23.0,7,DET
4,Jerome Brown,Miami (FL),DT,74.30,292,NaN,4.86,17.0,NaN,NaN,NaN,NaN,5.0,22.0,9,PHI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7016,Marvin Wilson,Florida State,DT,75.88,303,NaN,5.09,23.0,25.5,107.0,4.83,7.71,1.0,NaN,0,Undrafted
7057,Josh Paschal,Kentucky,DE,74.63,268,NaN,4.77,NaN,37.5,123.0,NaN,NaN,1.0,22.0,46,DET
7062,Cam Jurgens,Nebraska,C,74.88,303,NaN,4.92,25.0,NaN,NaN,NaN,NaN,1.0,23.0,51,PHI
7070,Ed Ingram,LSU,OG,75.25,307,NaN,5.02,NaN,20.5,102.0,4.76,7.81,1.0,23.0,59,MIN
7186,Amare Barno,Virginia Tech,OLB,76.63,246,NaN,4.36,NaN,37.0,131.0,NaN,NaN,1.0,23.0,189,CAR

In [13]:
final_df.to_csv('1987-2022', index = False)